<h1>Изменение данных о сотруднике</h1>
</br>
</br>
<form class="form-signin" action="/users/staffChange/{{staff._id}}" method="POST" enctype="multipart/form-data">
    <!--    <p>Введите ФИО сотрудника</p>-->
    <label for="inputFullName" class="sr-only"></label>
    <input type="text" id="inputFullName" name="fullName" class="form-control"
           value="{{staff.fullName}}"
           autofocus>
    </br>
    <!--    <p>Введите должность сотрудника</p>-->
    <label for="inputPosition" class="sr-only">Введите должность сотрудника</label>
    <input type="text" id="inputPosition" name="position" class="form-control"
           value="{{staff.position}}" required>
    </br>
    <!--    <p>Введите стаж сотрудника</p>-->
    <label for="inputWorkExperience" class="sr-only">Введите стаж сотрудника</label>
    <input type="text" id="inputWorkExperience" name="workExperience" class="form-control"
           value="{{staff.workExperience}}"
           required>
    </br>
    <p>Изменить фото сотрудника</p>
    <input type="file" name="filedata"/>
    </br>

    {{#if staff.isActive}}
        <input type="checkbox" name="isActive" value="on" checked> Пользователь активен
    {{else}}
        <input type="checkbox" name="isActive" value="on" > Пользователь активен
    {{/if}}
    </br>
    <button class="btn btn-lg btn-default btn-block" type="submit">Изменить данные сотрудника</button>

</form>
